In [1]:
#Import additional packages not covered by library
import os
os.getcwd()

'C:\\Users\\Stefan Hoeller\\Documents\\BSE\\Computing DS\\HW6\\HW6_Latinos'

In [3]:
#import library hw6
import hw6_Library.data_analysis as da

In [4]:
from hw6_Library.data_analysis import Read_split_data

In [5]:
#Import the data set and split into test and training set
train, test = Read_split_data("https://raw.githubusercontent.com/msh011/HW6_Latinos/main/sample_diabetes_mellitus_data.csv").read_split(.3)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 9069 to 7270
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   7000 non-null   int64
 1   encounter_id                 7000 non-null   int64
 2   hospital_id                  7000 non-null   int64
 3   age                          6711 non-null   float64
 4   bmi                          5794 non-null   float64
 5   elective_surgery             7000 non-null   int64
 6   ethnicity                    6826 non-null   object
 7   gender                       6998 non-null   object
 8   height                       6887 non-null   float64
 9   hospital_admit_source        6364 non-null   object
 10  icu_admit_source             6986 non-null   object
 11  icu_id                       7000 non-null   int64
 12  icu_stay_type                7000 non-null   object
 13  icu_type                     7000 non-null   object
 14  pre_icu_los_days             7000 non-null   float64
 15  readmission_status           7000 non-null   int64
 16  weight                       5850 non-null   float64
 17  albumin_apache               2484 non-null   float64
 18  apache_2_diagnosis           6874 non-null   float64
 19  apache_3j_diagnosis          6965 non-null   float64
 20  apache_post_operative        7000 non-null   int64
 21  arf_apache                   7000 non-null   int64
 22  bilirubin_apache             2389 non-null   float64
 23  bun_apache                   5251 non-null   float64
 24  creatinine_apache            5353 non-null   float64
 25  fio2_apache                  2047 non-null   float64
 26  gcs_eyes_apache              6954 non-null   float64
 27  gcs_motor_apache             6954 non-null   float64
 28  gcs_unable_apache            6957 non-null   float64
 29  gcs_verbal_apache            6954 non-null   float64
 30  glucose_apache               6249 non-null   float64
 31  heart_rate_apache            7000 non-null   float64
 32  hematocrit_apache            5610 non-null   float64
 33  intubated_apache             7000 non-null   int64
 34  map_apache                   6990 non-null   float64
 35  paco2_apache                 2047 non-null   float64
 36  paco2_for_ph_apache          2047 non-null   float64
 37  pao2_apache                  2047 non-null   float64
 38  ph_apache                    2047 non-null   float64
 39  resprate_apache              6972 non-null   float64
 40  sodium_apache                5295 non-null   float64
 41  temp_apache                  6933 non-null   float64
 42  urineoutput_apache           1059 non-null   float64
 43  ventilated_apache            7000 non-null   int64
 44  wbc_apache                   5460 non-null   float64
 45  aids                         7000 non-null   int64
 46  cirrhosis                    7000 non-null   int64
 47  hepatic_failure              7000 non-null   int64
 48  immunosuppression            7000 non-null   int64
 49  leukemia                     7000 non-null   int64
 50  lymphoma                     7000 non-null   int64
 51  solid_tumor_with_metastasis  7000 non-null   int64
 52  diabetes_mellitus            7000 non-null   int64
dtypes: float64(29), int64(18), object(6)
memory usage: 2.9+ MB

In [7]:
#Remove rows with Nan
train=da.Remove_na(train).remove_nan(['age','gender','ethnicity'])
test=da.Remove_na(test).remove_nan(['age','gender','ethnicity'])

In [8]:
#Fill NAs in other columns
train=da.Fill_na(train).fill(['height','weight'])
test=da.Fill_na(test).fill(['height','weight'])

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6547 entries, 9069 to 7270
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   6547 non-null   int64
 1   encounter_id                 6547 non-null   int64
 2   hospital_id                  6547 non-null   int64
 3   age                          6547 non-null   float64
 4   bmi                          5426 non-null   float64
 5   elective_surgery             6547 non-null   int64
 6   ethnicity                    6547 non-null   object
 7   gender                       6547 non-null   object
 8   height                       6547 non-null   float64
 9   hospital_admit_source        5955 non-null   object
 10  icu_admit_source             6533 non-null   object
 11  icu_id                       6547 non-null   int64
 12  icu_stay_type                6547 non-null   object
 13  icu_type                     6547 non-null   object
 14  pre_icu_los_days             6547 non-null   float64
 15  readmission_status           6547 non-null   int64
 16  weight                       6547 non-null   float64
 17  albumin_apache               2322 non-null   float64
 18  apache_2_diagnosis           6423 non-null   float64
 19  apache_3j_diagnosis          6513 non-null   float64
 20  apache_post_operative        6547 non-null   int64
 21  arf_apache                   6547 non-null   int64
 22  bilirubin_apache             2233 non-null   float64
 23  bun_apache                   4900 non-null   float64
 24  creatinine_apache            4997 non-null   float64
 25  fio2_apache                  1959 non-null   float64
 26  gcs_eyes_apache              6504 non-null   float64
 27  gcs_motor_apache             6504 non-null   float64
 28  gcs_unable_apache            6507 non-null   float64
 29  gcs_verbal_apache            6504 non-null   float64
 30  glucose_apache               5850 non-null   float64
 31  heart_rate_apache            6547 non-null   float64
 32  hematocrit_apache            5243 non-null   float64
 33  intubated_apache             6547 non-null   int64
 34  map_apache                   6538 non-null   float64
 35  paco2_apache                 1959 non-null   float64
 36  paco2_for_ph_apache          1959 non-null   float64
 37  pao2_apache                  1959 non-null   float64
 38  ph_apache                    1959 non-null   float64
 39  resprate_apache              6523 non-null   float64
 40  sodium_apache                4942 non-null   float64
 41  temp_apache                  6491 non-null   float64
 42  urineoutput_apache           954 non-null    float64
 43  ventilated_apache            6547 non-null   int64
 44  wbc_apache                   5107 non-null   float64
 45  aids                         6547 non-null   int64
 46  cirrhosis                    6547 non-null   int64
 47  hepatic_failure              6547 non-null   int64
 48  immunosuppression            6547 non-null   int64
 49  leukemia                     6547 non-null   int64
 50  lymphoma                     6547 non-null   int64
 51  solid_tumor_with_metastasis  6547 non-null   int64
 52  diabetes_mellitus            6547 non-null   int64
dtypes: float64(29), int64(18), object(6)
memory usage: 2.7+ MB

In [10]:
#Create features - Polynomials ######################Change creating parent class
train=da.Polys(train).create_feature(['age','height'],3)
test=da.Polys(test).create_feature(['age','height'],3)

In [11]:
#Create features interactions
train=da.Interactions(train).create_feature(['age','height'])
test=da.Interactions(test).create_feature(['age','height'])

In [12]:
#Build Model
from hw6_Library.data_analysis import Model
mod1=Model(["age", "height", "weight", "aids", "cirrhosis", "hepatic_failure",
"immunosuppression", "leukemia", "lymphoma", "solid_tumor_with_metastasis","age_2","height_2","age_height"],"diabetes_mellitus",100)
mod1.train(train)
prob=mod1.predict(test)

In [13]:
print(prob)

[[0.66102623 0.33897377]
 [0.7714975  0.2285025 ]
 [0.83750949 0.16249051]
 ...
 [0.69750113 0.30249887]
 [0.80144916 0.19855084]
 [0.53965266 0.46034734]]

In [14]:
test['prob1']=prob[:,1]

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2821 entries, 6252 to 4705
Data columns (total 60 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   2821 non-null   int64
 1   encounter_id                 2821 non-null   int64
 2   hospital_id                  2821 non-null   int64
 3   age                          2821 non-null   float64
 4   bmi                          2320 non-null   float64
 5   elective_surgery             2821 non-null   int64
 6   ethnicity                    2821 non-null   object
 7   gender                       2821 non-null   object
 8   height                       2821 non-null   float64
 9   hospital_admit_source        2563 non-null   object
 10  icu_admit_source             2814 non-null   object
 11  icu_id                       2821 non-null   int64
 12  icu_stay_type                2821 non-null   object
 13  icu_type                     2821 non-null   object
 14  pre_icu_los_days             2821 non-null   float64
 15  readmission_status           2821 non-null   int64
 16  weight                       2821 non-null   float64
 17  albumin_apache               1000 non-null   float64
 18  apache_2_diagnosis           2768 non-null   float64
 19  apache_3j_diagnosis          2806 non-null   float64
 20  apache_post_operative        2821 non-null   int64
 21  arf_apache                   2821 non-null   int64
 22  bilirubin_apache             965 non-null    float64
 23  bun_apache                   2096 non-null   float64
 24  creatinine_apache            2124 non-null   float64
 25  fio2_apache                  826 non-null    float64
 26  gcs_eyes_apache              2799 non-null   float64
 27  gcs_motor_apache             2799 non-null   float64
 28  gcs_unable_apache            2800 non-null   float64
 29  gcs_verbal_apache            2799 non-null   float64
 30  glucose_apache               2510 non-null   float64
 31  heart_rate_apache            2820 non-null   float64
 32  hematocrit_apache            2246 non-null   float64
 33  intubated_apache             2821 non-null   int64
 34  map_apache                   2818 non-null   float64
 35  paco2_apache                 826 non-null    float64
 36  paco2_for_ph_apache          826 non-null    float64
 37  pao2_apache                  826 non-null    float64
 38  ph_apache                    826 non-null    float64
 39  resprate_apache              2812 non-null   float64
 40  sodium_apache                2105 non-null   float64
 41  temp_apache                  2792 non-null   float64
 42  urineoutput_apache           433 non-null    float64
 43  ventilated_apache            2821 non-null   int64
 44  wbc_apache                   2207 non-null   float64
 45  aids                         2821 non-null   int64
 46  cirrhosis                    2821 non-null   int64
 47  hepatic_failure              2821 non-null   int64
 48  immunosuppression            2821 non-null   int64
 49  leukemia                     2821 non-null   int64
 50  lymphoma                     2821 non-null   int64
 51  solid_tumor_with_metastasis  2821 non-null   int64
 52  diabetes_mellitus            2821 non-null   int64
 53  age_2                        2821 non-null   float64
 54  age_3                        2821 non-null   float64
 55  height_2                     2821 non-null   float64
 56  height_3                     2821 non-null   float64
 57  age_height                   2821 non-null   float64
 58  height_age                   2821 non-null   float64
 59  prob1                        2821 non-null   float64
dtypes: float64(36), int64(18), object(6)
memory usage: 1.3+ MB

In [16]:
#Calculate AOC
from sklearn.metrics import roc_auc_score
score=roc_auc_score(test['diabetes_mellitus'],test['prob1'])
print(score)

0.6658406407611188